@page
<body>
<div>
  <form id="submission" action="/crop" method="post" enctype="multipart/form-data">
    <label for="files">Files:</label>
    <input type="file" multiple id="files" name="files">
    <input type="submit" value="Crop">
  </form>
  <button onclick="">Download cropped files</button>
</div>

<script src="~/libs/jquery.js"></script>
<script src="~/js/index.js"></script>
</body>